<!DOCTYPE html>
<html>
  <head>
    <title>Nanatama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbolinks-track": "reload", type: "module" %>
    <script type="module" src="./app/javascript/application.js"></script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
