<!DOCTYPE html>
<html>
  <head>
    <title>Nanatama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="module" src="/assets/application.js"></script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
